<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello, Rails!, Flux! and React</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  </head>
  <body>
  	<h1>Hello, Rails!, Flux! and React</h1>
    <div id="content"></div>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>